.post-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-bottom: 20px; */
    width: 500px;
    flex: 1 1 calc(50% - 16px);
}

.post-card h2 {
    margin: 0;
    font-size: 20px;
}

.post-card .thesis {
    margin: 0;
    font-size: 15px;
    color: #585858;
}

.post-card .info {
    font-size: 20px;
}

.post-card .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-card .nav .date {
    font-size: 10px;
    text-align: right;
    color: #585858;
    font-weight: bold;
}

.post-card .nav button {
    margin-right: 20px;
    width: 70px;
    overflow: hidden;
} 

.post-card .nav button img {
    width: 100%;
}
