.content {
  margin: 50px 50px 50px 250px;
  grid-area: content;
  padding: 50px;
  display: grid;
  gap: 20px;
}

body.light {
  background-color: #fff;
}

body.dark {
  background-color: #000000;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}